body {
	background-color: #1F2833;
	text-align: center;
}

.menu {
	height: 8vh;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 15px;
	padding: 0;
	margin-bottom: 5px;
}

.logo {
	float: left;
	height: 190px;
	width: 170px;
	text-align: center;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

li {
	border: 2px orange solid;
	color: Blue;
	padding: 20px;
	font-size: 20px;
}

li:hover {
	background-color: #66FCF1;
	color: gray;
}

li {
	list-style: none;
	padding: 10px;
	background: #1F2833;
	border: 5px black solid;
	color: white;
	text-align: center;
	font-family: impact;
	border: 6px;
}

a {
	text-decoration: none;
}

.showcase {
	height: 90vh;
	background-image: url(../images/ballshoot.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.text {
	padding: 5px;
	height: 60vh;
	color: white;
	text-align: center;
	border: 3px #45A29E solid;
	font-size: 20px;
}

.bot {
	height: 50vh;
	display: grid;
	grid-template-columns: 3fr 5fr;
	grid-gap: 5px;
}

.left2 {
	border: 3px #45A29E solid;
	background-image: url(../images/bball.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.right2 {
	border: 3px #45A29E solid;
	font-size: 18px;
	color: #C5C6C7;
}

.footer {
	padding: 5px;
	height: 3vh;
	margin-top: 5px;
	font-size: 13px;
	color: white;
	text-align: center;
}